gateway/mode_modules/
gateway/dist
gateway/build

product/node_modules/
product/dist
product/build

order/node_modules/
order/dist
order/build

/dist
/node_modules/
/build

/logs
*.log

.DS_Store

.env

/.idea
.project
.classpath

pids